.container {
	margin: 0px;
	width: 100%
}

#logo h4 {
	margin: 12.5px 0 0 0;
}

.rank h5 {
	padding: 100% 0 0 40%;
}

.spacer {
	height: 64px;
}

label {
	padding-left: 0px;
}


@media only screen and (max-width : 992px) {
	.container { 
		width: 100%
	}
}

