public/lib/bower_components
.DS_Store
public/lib/node_modules
public/styles/
private
node_modules
spotnode/
public/lib/.sublime-gulp.cache
values
public/app/factories/test.json
public/app/factories/test2.json
styles/
public/index3.html
