  <!-- Modal Trigger -->
  <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
  <!-- Modal Structure -->
  <!-- <div ng-controller="LogOutCtrl" id="modal1" class="modal"> -->
  <div ng-controller="LogOutCtrl">

    <!-- <div class="modal-content"> -->
    <div class="col s2 offset-s5">
      
      <h4>Sign Out?</h4>
    <!-- </div> -->
    <!-- <div class="modal-footer"> -->
      <div>
        <!-- <a ng-click="logout()" class=" modal-action modal-close waves-effect waves-green btn-flat">Log Off</a> -->
        <button ng-click="logout()" class="valign waves-effect waves-light btn-large red">Log Off</button>
        <!-- <a href="/main" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a> -->
        <a href="/main" class="valign waves-effect waves-light btn-large gray">Cancel</a>
      </div>
    </div>
  </div>
  </div>