<!-- <div ng-include="partials/navbar.html"></div> -->
<div class="row navbar fixed">
	
<input type="text" class="form-control col s2 offset-s1" value="" id="search" placeholder="Find Album" ng-model="searchText">
</div>
<div class="row"></div>
<div>
	
	<div class="row" ng-repeat="info in chartdata | filter: userID && searchText">
		<div>
			<!-- ng-repeat through all -->
			<div id="{{info.id}}">
			<!-- current rank on chart -->
				<div class="col s1 rank">
				<p><h5>{{$index+1}}<h5></p>
				</div>
				<!-- album title and artist -->
				<div class="col s2 info">
				<p><h5><b>{{info.artistname}}</b></h5></p>
				<p><h5>{{info.albumname}}</h5></p>
				<p class="hide">{{info.rating}}</p>
				<p class="hide">{{info.tracktotal}}</p>
				<p class="hide">{{info.type}}</p>
				<!-- <p>{{info.release}}</p> -->
				<button class="btn" ng-click="deleteAlbumCall(info.id)">Delete</button>
				</div>
				<!-- album artwork -->
				<div class="col s2 m3 artwork">
				<img class="responsive-img" ng-src="{{info.artwork}}">
				</div>
				<div class="col s6">
					<div class="row" ng-repeat="items in songs | filter: userID && info.id | orderBy: number">
						<!-- track ratings -->
						<div class="col 1">
							  <form action="#">
    <div class="range-field">
      <input type="range" id="{{items.id}}" min="1" max="5" value="{{items.rating}}" ng-change="updateSongCall(items.id, items.rating, info.id)" ng-model="items.rating"/>
    </div>
  </form>
						</div>
						<!-- tracks -->

<!-- 						<div class="col s1 rating">
						{{items.rating}} -->
	<!-- 					</div> -->
						<div class="col s1 tracks">
						{{items.number}}
						</div>
						<div class="col s4 title">
						{{items.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- side bar -->
<!-- 	<div class="col s1 side-nav">
		Testing Side
		
	</div> -->

</div>