<div class="">
<!--   <div ng-repeat="favorite in favorites">
    <div class="row">
      <div class="col s5">
        <img class="pairImage" ng-src="{{favorite.bookCover}}">
        <h6>{{favorite.bookAuthor}}</h6>
        <h6>{{favorite.bookTitle}}</h6>
      </div> -->
<!--       <div class="col s2">
        <a class="" ng-click="removeFavorite(favorite.refKey)"><i class="material-icons pointer">favorite</i></a> -->
        <ul class="star-rating no-animation">
          <li ng-repeat="star in stars" class="star no-animation" ng-class="{filled: star.filled}" ng-click="rateSelectedAlbum(favorite, $index)">
            <i class="material-icons no-animation" ng-show="!star.filled">star_border</i>
            <i class="material-icons no-animation" ng-show="star.filled">star</i>
          </li>
        </ul>
      <!-- </div> -->
<!--       <div class="col s5">
        <img class="pairImage" ng-src="{{favorite.albumImage}}">
        <h6>{{favorite.albumArtist}}</h6>
        <h6>{{favorite.albumName}}</h6>
      </div>
    </div>
  </div> -->
</div>  


